@font-face {
    font-family: Pompadur; /* Гарнитура шрифта */
    src: url(../font/OpenSans.ttf); /* Путь к файлу со шрифтом */
}

.content{
    margin:0px auto;
    max-width: 90%;
}

tr{
    height: 40px;
}

.btn-info{
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
    line-height: 1;
}

input,select,textarea{
    margin: 5px;
}