* {
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    font-family: Pompadur;
}

.back{
    background-color: #b4975b;
}

.block{

}

@font-face {
    font-family: Pompadur; /* Гарнитура шрифта */
    src: url(../font/HelveticaNeue-Light.ttf); /* Путь к файлу со шрифтом */
}